{
  "root": true,
  "extends": [
    "@webdeveric/eslint-config-ts",
    "plugin:no-unsanitized/DOM",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parserOptions": {
    "project": ["./tsconfig.json"],
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "webextensions": true,
    "jest": true
  },
  "overrides": [
    {
      "files": ["./*.js"],
      "parserOptions": {
        "project": ["./tsconfig-js-configs.json"]
      }
    }
  ]
}
