/* Copied from https://searchfox.org/firefox-main/source/browser/components/extensions/extension.css */
html,
body {
  background: transparent;
  box-sizing: border-box;
  color: light-dark(#222426, CanvasText);
  cursor: default;
  display: flex;
  flex-direction: column;
  font: caption;
  margin: 0;
  padding: 0;
  user-select: none;
}

body * {
  box-sizing: border-box;
  text-align: start;
}
